<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button onclick="location='/dashboard'"> Dashboard</button>&nbsp;|&nbsp; 
    <button onclick="location='/customer'"> Customer</button>&nbsp;|&nbsp; 
    <button onclick="location='/product'"> Product</button>&nbsp;|&nbsp; 
    <button onclick="location='/about'"> About</button>&nbsp;|&nbsp; 
    <button onclick="location='/login'"> Logout</button>&nbsp;|&nbsp; 
    <hr/>

    <p> Total records are <%= customers.length %> </p>
  </body>
</html>
